name: 3900w11athecsgoons

services:
  owner-ui:
    build: ./owner-ui
    ports:
      - $CS3900_OWNER_UI_PORT:$CS3900_OWNER_UI_PORT
    volumes:
      - type: bind
        source: owner-ui
        target: /usr/src/app
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - PORT=$CS3900_OWNER_UI_PORT
  owner-lib:
    build:
      context: ./vclib/owner
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_OWNER_AGENT_PORT:$CS3900_OWNER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/owner/src
        target: /usr/src/app/vclib/owner/src
        read_only: true
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
  issuer-lib:
    build:
      context: ./vclib/issuer
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_ISSUER_AGENT_PORT:$CS3900_ISSUER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/issuer/src
        target: /usr/src/app/vclib/issuer/src
        read_only: true
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false

  provider-lib:
    build:
      context: ./vclib/provider
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
    - $CS3900_SERVICE_AGENT_PORT:$CS3900_SERVICE_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/provider/src
        target: /usr/src/app/vclib/provider/src
        read_only: true
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
