name: 3900w11athecsgoons

services:
  owner-ui:
    build:
      context: ./owner-ui
      target: dev
    ports:
      - $CS3900_OWNER_UI_PORT:$CS3900_OWNER_UI_PORT
    volumes:
      - type: bind
        source: owner-ui/app
        target: /usr/src/app/app
      - type: bind
        source: ./vclib/holder/examples/example_ssl_certfile.crt
        target: /usr/src/app/example_ssl_ca_bundle.crt
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - PORT=$CS3900_OWNER_UI_PORT
      - NODE_EXTRA_CA_CERTS=/usr/src/app/example_ssl_ca_bundle.crt

  holder-lib:
    build:
      context: ./vclib/holder
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_HOLDER_AGENT_PORT:$CS3900_HOLDER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/holder/src
        target: /usr/src/app/vclib/holder/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - REQUESTS_CA_BUNDLE=/usr/src/app/examples/example_ssl_ca_bundle.crt
      - SSL_CERT_FILE=/usr/src/app/examples/example_ssl_ca_bundle.crt

  issuer-lib:
    build:
      context: ./vclib/issuer
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_ISSUER_AGENT_PORT:$CS3900_ISSUER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/issuer/src
        target: /usr/src/app/vclib/issuer/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false

  verifier-lib:
    build:
      context: ./vclib/verifier
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_VERIFIER_AGENT_PORT:$CS3900_VERIFIER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/verifier/src
        target: /usr/src/app/vclib/verifier/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
