name: 3900w11athecsgoons

services:
  owner-ui:
    build:
      context: owner-ui
      dockerfile: Dockerfile
    ports:
    - $CS3900_OWNER_UI_PORT:$CS3900_OWNER_UI_PORT
    volumes:
    - type: bind
      source: owner-ui
      target: /usr/src
    env_file:
    - path: example.env
      required: true
    - path: .env
      required: false
    environment:
    - PORT=$CS3900_OWNER_UI_PORT
  owner-lib:
    build:
      context: ssi-libs/owner-lib
      dockerfile: Dockerfile
    ports:
    - $CS3900_OWNER_AGENT_PORT:$CS3900_OWNER_AGENT_PORT
    volumes:
    - type: bind
      source: ssi-libs/owner-lib/owner
      target: /usr/src/owner
      read_only: true
    env_file:
    - path: example.env
      required: true
    - path: .env
      required: false

  issuer-lib:
    build:
      context: issuer-lib
      dockerfile: Dockerfile
    ports:
    - $CS3900_ISSUER_AGENT_PORT:$CS3900_ISSUER_AGENT_PORT
    volumes:
    - type: bind
      source: ssi-libs/issuer-lib/issuer
      target: /usr/src/issuer
      read_only: true
    env_file:
    - path: example.env
      required: true
    - path: .env
      required: false

  service-lib:
    build:
      context: ssi-libs/service-lib
      dockerfile: Dockerfile
    ports:
    - $CS3900_SERVICE_AGENT_PORT:$CS3900_SERVICE_AGENT_PORT
    volumes:
    - type: bind
      source: ssi-libs/service-lib/service
      target: /usr/src/service
      read_only: true
    env_file:
    - path: example.env
      required: true
    - path: .env
      required: false
