name: 3900w11athecsgoons

services:
  owner-ui:
    build:
      context: ./owner-ui
      target: dev
    ports:
      - $CS3900_OWNER_UI_PORT:$CS3900_OWNER_UI_PORT
    volumes:
      - type: bind
        source: owner-ui/app
        target: /usr/src/app/app
      - type: bind
        source: ./vclib/owner/examples/example_ssl_certfile.crt
        target: /usr/src/app/example_ssl_ca_bundle.crt
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - PORT=$CS3900_OWNER_UI_PORT
      - NODE_EXTRA_CA_CERTS=/usr/src/app/example_ssl_ca_bundle.crt

  owner-lib:
    build:
      context: ./vclib/owner
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_OWNER_AGENT_PORT:$CS3900_OWNER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/owner/src
        target: /usr/src/app/vclib/owner/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - REQUESTS_CA_BUNDLE=/usr/src/app/examples/example_ssl_ca_bundle.crt
      - SSL_CERT_FILE=/usr/src/app/examples/example_ssl_ca_bundle.crt

  issuer-lib:
    build:
      context: ./vclib/issuer
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
      - $CS3900_ISSUER_AGENT_PORT:$CS3900_ISSUER_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/issuer/src
        target: /usr/src/app/vclib/issuer/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false

  provider-lib:
    build:
      context: ./vclib/provider
      dockerfile: Dockerfile
      additional_contexts:
        - vclib-root=./vclib
        - root=.
    ports:
    - $CS3900_SERVICE_AGENT_PORT:$CS3900_SERVICE_AGENT_PORT
    volumes:
      - type: bind
        source: vclib/provider/src
        target: /usr/src/app/vclib/provider/src
      - type: bind
        source: vclib/common/src
        target: /usr/src/app/vclib/common/src
        read_only: true
    env_file:
      - path: example.env
        required: true
      - path: .env
        required: false
    environment:
      - REQUESTS_CA_BUNDLE=/usr/src/app/examples/example_ssl_ca_bundle.crt
      - SSL_CERT_FILE=/usr/src/app/examples/example_ssl_ca_bundle.crt
