[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jwcrypto = "*"
sd-jwt = "*"
fastapi = "*"
requests = "*"
pyjwt = "*"
jsonpath-ng = "*"
pytest-httpx = "*"
requests-oauthlib = "*"
qrcode = "*"
jsonschema = "*"
argon2-cffi = "*"
pyzipper = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
ruff = "*"
tox = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
