[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jwcrypto = "*"
sd-jwt = "*"
pytest = "*"
fastapi = "*"
requests = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.12"
