name: 'Run tests on backend agents'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  run-tox-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Install testing framework
        run: pip install tox

      - name: Run tests
        run: tox

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-overview
          path: htmlcov/index.html
